# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
htmlcov/
.coverage
coverage.xml
*.cover

# Jupyter
.ipynb_checkpoints/
